[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
reflex = ">=0.4.7"
openai = ">=1.14.0"
python-dotenv = "==1.0.1"
langchain = "0.2.5"
langchain-community = "0.2.5"
langchain-openai = "0.1.9"
langchain-experimental = "0.0.61"
neo4j = "5.21.0"

[dev-packages]

[requires]
python_version = "3.12"
